
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {

  --font-h1: 3.75rem;   /* 60px */
  --font-h2: 2.125rem;  /* 34px */
  --font-h3: 1.375rem;  /* 22px */
  --font-p-lg: 1.25rem; /* 20px */
  --font-p: 1rem;       /* 16px */

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;


  --color-green: #9BDE4C;
  --color-dark: #25262C;
  --color-light: #E5E7EB;

  --gradient-green: linear-gradient(180deg, #9BDE4C 0%, #547829 100%);


  --shadow-custom: 
    0 9.55px 14.33px rgba(0, 0, 0, 0.1),
    0 3.82px 5.73px rgba(0, 0, 0, 0.1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px; 
  scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-p);
  font-weight: var(--fw-regular);
  color: var(--color-dark);
  background-color: #FFFFFF;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.nav-container {
  margin: 0 auto;
  padding: 0px 80px;
}

.container {
  margin: 0 auto;
  padding: 40px 80px;
}

h1, h2, h3 {
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-h1);
  color: var(--color-dark);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

p {
  font-size: var(--font-p);
  font-weight: var(--fw-regular);
  color: #4B5563;
}

p.large {
  font-size: var(--font-p-lg);
  color: #4B5563;
  font-weight: var(--fw-regular);
  
}


button {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-p);
  font-weight: var(--fw-semibold);
  padding: 20px 32px ;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
}


.button-primary {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.button-primary:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.button-primary:active {
  transform: translateY(0);
}


.button-secondary {
  background-color: var(--color-green);
  color: var(--color-dark);
}

.button-secondary:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.button-secondary:active {
  transform: translateY(0);
}


/* Navbar */


.navbar {
  box-shadow: var(--shadow-custom);
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 30px;

}

.navbar-link {
  list-style-type: none;
  text-decoration: none;
  color: var(--color-dark);
  position: relative;

}

.navbar-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-green);
  transition: .25s ease-out;
}

.navbar-link:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

/* Navbar Ends */

/* Hero */

.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  padding-block: 140px ;
  width: 50%;
}

.hero-content__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-content h1 span {
  background: var(--gradient-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.hero-content__rating {
  display: flex;
  gap: 1rem;
}

.stars .fa-solid {
  color: #FACC15 ;
}

.hero-content__rating p {
  color: #4B5563;
}

.hero img {
  position: absolute;
  right: 5%;
  bottom: 0;
}

.circle {
  background: var(--gradient-green);
  color: transparent;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  position: absolute;
  right: -15%;
  top: 10%;
  z-index: -1;

}


/* Resposivness */

@media (max-width: 1120px) {

  .circle {
    display: none;
  }

  .hero img {
    display: none;
  }

  .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Hero Ends */

/* Features Section */

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-block: 70px ;
}

.features-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}

.features-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  padding: 2rem;
  box-shadow: var(--shadow-custom);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  max-width: 380px;
  min-height: 300px;
  transition: .3s ease;

}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  background-color: var(--color-green);
  padding: 1rem;
  border-radius: 16px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon-ai {
  background-color: #3B82F6;
  padding: 1rem;
  border-radius: 16px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon-track {
  background-color: #A855F7;
  padding: 1rem;
  border-radius: 16px ;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* How Section */

.how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: #F9FAFB;
}

.how-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;

}

.how-step:nth-child(odd) {
  flex-direction: row-reverse;
}

.how-step {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-block:4rem ;
}

.how-step__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-number {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.step-number-circle {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9BDE4C;
  color: var(--color-light);
  border-radius: 50%;
}

/* Testimonials */

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 4rem;
  gap: 6rem;
}

.testimonials-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

}

.testimonials-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.testimonial-card {
  padding: 2rem;
  box-shadow: var(--shadow-custom);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  max-width: 370px;
}

.testimonial-user {
  display: flex;
  gap: 1rem;
}

.testimonial-user__credits{
  display: flex;
  flex-direction: column;
}
